{% extends 'base.html.twig' %}

{% block title %}BoardCommissionerCommittees{% endblock %}

{% block body %}
    <h1>BoardCommissionerCommittees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ board_commissioner_committee.id }}</td>
            </tr>
            <tr>
                <th>Committee</th>
                <td>{{ board_commissioner_committee.committee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_board_commissioner_committees_index') }}">back to list</a>

    <a href="{{ path('app_board_commissioner_committees_edit', {'id': board_commissioner_committee.id}) }}">edit</a>

    {{ include('board_commissioner_committees/_delete_form.html.twig') }}
{% endblock %}
