{% extends 'base.html.twig' %}

{% block title %}Vacancies index{% endblock %}

{% block body %}
    <h1>Vacancies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Department</th>
                <th>Location</th>
                <th>Type</th>
                <th>Level</th>
                <th>Closing_date</th>
                <th>Publish_date</th>
                <th>Salary</th>
                <th>Create_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vacancy in vacancies %}
            <tr>
                <td>{{ vacancy.id }}</td>
                <td>{{ vacancy.title }}</td>
                <td>{{ vacancy.department }}</td>
                <td>{{ vacancy.location }}</td>
                <td>{{ vacancy.type }}</td>
                <td>{{ vacancy.level }}</td>
                <td>{{ vacancy.closingDate ? vacancy.closingDate|date('Y-m-d') : '' }}</td>
                <td>{{ vacancy.publishDate ? vacancy.publishDate|date('Y-m-d') : '' }}</td>
                <td>{{ vacancy.salary }}</td>
                <td>{{ vacancy.createAt ? vacancy.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_vacancies_show', {'id': vacancy.id}) }}">show</a>
                    <a href="{{ path('app_vacancies_edit', {'id': vacancy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vacancies_new') }}">Create new</a>
{% endblock %}
