{% extends 'base.html.twig' %}

{% block title %}InnovationChallengeCategories{% endblock %}

{% block body %}
    <h1>InnovationChallengeCategories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ innovation_challenge_category.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ innovation_challenge_category.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_innovation_challenge_categories_index') }}">back to list</a>

    <a href="{{ path('app_innovation_challenge_categories_edit', {'id': innovation_challenge_category.id}) }}">edit</a>

    {{ include('innovation_challenge_categories/_delete_form.html.twig') }}
{% endblock %}
