{% extends 'base.html.twig' %}

{% block title %}BiotechLabs index{% endblock %}

{% block body %}
    <h1>BiotechLabs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Equipment</th>
                <th>Cerification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for biotech_lab in biotech_labs %}
            <tr>
                <td>{{ biotech_lab.id }}</td>
                <td>{{ biotech_lab.name }}</td>
                <td>{{ biotech_lab.location }}</td>
                <td>{{ biotech_lab.equipment }}</td>
                <td>{{ biotech_lab.cerification }}</td>
                <td>
                    <a href="{{ path('app_biotech_labs_show', {'id': biotech_lab.id}) }}">show</a>
                    <a href="{{ path('app_biotech_labs_edit', {'id': biotech_lab.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_biotech_labs_new') }}">Create new</a>
{% endblock %}
