{% extends 'base.html.twig' %}

{% block title %}BiotechLabServices{% endblock %}

{% block body %}
    <h1>BiotechLabServices</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ biotech_lab_service.id }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ biotech_lab_service.service }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_biotech_lab_services_index') }}">back to list</a>

    <a href="{{ path('app_biotech_lab_services_edit', {'id': biotech_lab_service.id}) }}">edit</a>

    {{ include('biotech_lab_services/_delete_form.html.twig') }}
{% endblock %}
