{% extends 'base.html.twig' %}

{% block title %}Science Events{% endblock %}

{% block body %}
    <h1>Science Events</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>Date</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for science_event in science_events %}
            <tr>
                <td>{{ science_event.id }}</td>
                <td>{{ science_event.title }}</td>
                <td>{{ science_event.description }}</td>
                <td>{{ science_event.type }}</td>
                <td>{{ science_event.date ? science_event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ science_event.location }}</td>
                <td>
                    <a href="{{ path('app_science_events_show', {'id': science_event.id}) }}">show</a>
                    <a href="{{ path('app_science_events_edit', {'id': science_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_science_events_new') }}">Create new</a>
{% endblock %}
