{% extends 'base.html.twig' %}

{% block title %}NewsArticles index{% endblock %}

{% block body %}
    <h1>NewsArticles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Excerpt</th>
                <th>Content</th>
                <th>Read_time</th>
                <th>Image_url</th>
                <th>Featured</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news_article in news_articles %}
            <tr>
                <td>{{ news_article.id }}</td>
                <td>{{ news_article.title }}</td>
                <td>{{ news_article.excerpt }}</td>
                <td>{{ news_article.content }}</td>
                <td>{{ news_article.readTime }}</td>
                <td>{{ news_article.imageUrl }}</td>
                <td>{{ news_article.featured ? 'Yes' : 'No' }}</td>
                <td>{{ news_article.createdAt ? news_article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_news_articles_show', {'id': news_article.id}) }}">show</a>
                    <a href="{{ path('app_news_articles_edit', {'id': news_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_news_articles_new') }}">Create new</a>
{% endblock %}
