{% extends 'base.html.twig' %}

{% block title %}EcosystemPartners index{% endblock %}

{% block body %}
    <h1>EcosystemPartners index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Partner_count</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecosystem_partner in ecosystem_partners %}
            <tr>
                <td>{{ ecosystem_partner.id }}</td>
                <td>{{ ecosystem_partner.name }}</td>
                <td>{{ ecosystem_partner.partnerCount }}</td>
                <td>{{ ecosystem_partner.description }}</td>
                <td>
                    <a href="{{ path('app_ecosystem_partners_show', {'id': ecosystem_partner.id}) }}">show</a>
                    <a href="{{ path('app_ecosystem_partners_edit', {'id': ecosystem_partner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ecosystem_partners_new') }}">Create new</a>
{% endblock %}
