{% extends 'base.html.twig' %}

{% block title %}ProcurementDocuments{% endblock %}

{% block body %}
    <h1>ProcurementDocuments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ procurement_document.id }}</td>
            </tr>
            <tr>
                <th>Document_name</th>
                <td>{{ procurement_document.documentName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_procurement_documents_index') }}">back to list</a>

    <a href="{{ path('app_procurement_documents_edit', {'id': procurement_document.id}) }}">edit</a>

    {{ include('procurement_documents/_delete_form.html.twig') }}
{% endblock %}
