{% extends 'base.html.twig' %}

{% block title %}VacancyResponsabilities index{% endblock %}

{% block body %}
    <h1>VacancyResponsabilities index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Responsability</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vacancy_responsability in vacancy_responsabilities %}
            <tr>
                <td>{{ vacancy_responsability.id }}</td>
                <td>{{ vacancy_responsability.responsability }}</td>
                <td>
                    <a href="{{ path('app_vacancy_responsabilities_show', {'id': vacancy_responsability.id}) }}">show</a>
                    <a href="{{ path('app_vacancy_responsabilities_edit', {'id': vacancy_responsability.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vacancy_responsabilities_new') }}">Create new</a>
{% endblock %}
